// Variable overrides
@import "~@coreui/coreui/scss/variables";

:root {
    --active-color: #1e2225;
    --active-btn-color: #1e2225;
    --completed-color: #1e2225;
    --white-color: #ffffff;
    --grey-color: #dddddd;
    --black-color: #1e2225;
    --lightPink-color: #C38D9D;
    --pink-color: #B2384F;
    --submit-bg: #187095;
    --ack: #463f3f;
    --black: #000;
    --red: red;
  }